.about-heading {
  background-color: rgb(32, 61, 31);
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem hsl(118, 33%, 10%);
  color: white;
  padding: 1rem;
  margin: auto;
  width: fit-content;
}
.about-para {
  text-align: justify;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  color: hsl(0, 0%, 10%);
}

@media only screen and (max-width: 760px) {
  .about-para {
    font-size: 0.9em;
  }
}
