.empty-cart {
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: rgb(41, 24, 24);
}
.empty-cart a {
  font-size: 1.1em;
  color: hsl(240, 50%, 50%);
}
.cart-items {
  width: 80%;
  margin: auto;
  margin: 0 auto;
}
.cart-total {
  font-size: 1.3rem;
  width: 90%;
}
.payment-button {
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(39, 53, 13);
  cursor: pointer;
  margin: 1rem auto;
}
.payment-button:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 760px) {
  .empty-cart {
    font-size: 1rem;
  }
}
