.cart-item {
  color: white;
  background: linear-gradient(hsl(118, 33%, 25%), hsl(118, 33%, 15%));
}
.cart-item-name {
  padding-top: 1rem;
}
.cart-item-count {
  padding: 0.5rem;
  display: block;
}
.cart-item-buttons {
  background-color: hsl(0, 0%, 9%);
  padding: 0 0.5rem;
}
.cart-item-buttons button:hover {
  background-color: hsl(0, 0%, 50%);
}
