.cart-item {
  background-color: hsl(118, 33%, 15%);
  border-bottom: 1px solid black;
  display: flex;
  padding-left: 1rem;
}
.cart-item-image-container {
  height: 5rem;
  width: 5rem;
}
.cart-item-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.cart-item-content {
  flex: 1;
  box-sizing: border-box;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}
.cart-item-count {
  padding: 0.5rem;
  display: block;
}
.cart-capacity {
  background-color: hsl(0, 0%, 9%);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
}
.cart-item-buttons {
  padding: 0 0.5rem;
}
.cart-item-buttons button {
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
}

.cart-item-buttons button:hover {
  background-color: hsl(0, 0%, 50%);
}

@media only screen and (max-width: 760px) {
  .cart-item-content{
    font-size: 1rem;
  }
  .cart-item-buttons {
    padding: 0 ;
  }
}