.home-heading {
  color: hsl(0, 0%, 5%);
  text-shadow: 1px 1px 3px white;
  font-size: 3rem;
  padding: 0.5rem;
}

.home-image {
  box-shadow: 0 0 0.3rem 0 hsl(0, 0%, 10%);
  width: auto;
  height: 50vmin;
}
.home-intro {
  padding: 1rem 5rem;
  font-size: 2rem;
  color: white;
  background-color: rgb(32, 61, 31);
  box-shadow: 0 0 0.1rem 0rem hsl(118, 33%, 10%);
  /* border-radius: 5px; */
  width: max-content;
  margin: 1rem auto;
  /* border-radius: 10rem; */
  display: block;
  text-decoration: none;
}
.home-intro:hover{
  transform: scale(1.05);
}
.home-intro:visited{
  color:white;
}

@media only screen and (max-width: 760px) {
  .home-intro {
    font-size: 1.2rem;
  }
}
