.item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 9%);
}
.item-img-container {
  flex: 1;
  background-color: hsl(118, 13%, 30%);
}
.item-img {
  max-width: 100%;
  box-shadow: 0 0 0.3rem 0 hsl(0, 0%, 10%);
}
.item-description {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  color: rgb(218, 218, 218);
}

.item-button {
  width: 2.5rem;
  height: 2.5rem;
  font-weight: bolder;
  font-size: 1.5rem;
}
.item-button-full {
  height: 2.5rem;
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
}


@media only screen and (max-width: 760px) {
  .item-description {
    font-size: 1rem;
  }
}
