.payment-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(0, 0%, 90%, 0.5);
}

.payment-main {
  background-color: rgb(32, 61, 31);
  width: 50%;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem hsl(118, 33%, 10%);
}
.payment-close {
  display: block;
  margin-left: auto;
  padding: 0.5rem;
}
.payment-close:hover {
  cursor: pointer;
}
.payment-title {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.payment-understood {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.payment-understood:hover {
  cursor: pointer;
}
